<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="data" type="com.allerg.allergsite.entity.Additive"*/-->
<form action="#" method="POST" th:action="@{/additives/save}" th:fragment="additives-form" th:object="${data}">

    <input th:field="*{id}" type="hidden"/>

    <div class="mb-3 form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" id="name" th:field="*{name}" type="text"/>
        <div class="alert alert-danger" role="alert" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></div>
    </div>

    <div class="mb-3 form-group">

        <label class="form-label" for="enumber">E-Number</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="epre">E</span>
            <input class="form-control" id="enumber" th:field="*{eNumber}" type="text"/>
        </div>
        <div class="alert alert-danger" role="alert" th:errors="*{eNumber}"
             th:if="${#fields.hasErrors('eNumber')}"></div>


    </div>

    <div class="mb-3 form-group">
        <label class="form-label" for="ins">International Numbering System</label>
        <input class="form-control" id="ins" th:field="*{insNumber}" type="number"/>
        <div class="alert alert-danger" role="alert" th:errors="*{insNumber}"
             th:if="${#fields.hasErrors('insNumber')}"></div>

    </div>


    <select class="custom-select" th:field="*{type}">
        <option th:each="i : *{acceptedType}" th:text="${i}" th:value="${i}">
        </option>
    </select>


    <div class="form-group">
        <label for="description">Additional Details</label>
        <input class="form-control" id="description" maxlength="45" th:field="*{additionalInfo}"/>
        <div class="alert alert-danger" role="alert" th:errors="*{additionalInfo}"
             th:if="${#fields.hasErrors('additionalInfo')}"></div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>


</form>
</html>