<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="additives-table">
    <h3>[[${pageTitle}]] <a class="btn btn-primary btn-sm" href="#" th:href="@{/additives/create}"/>
        <svg class="feather feather-plus" fill="none" height="40" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
            <line x1="12" x2="12" y1="5" y2="19"></line>
            <line x1="5" x2="19" y1="12" y2="12"></line>
        </svg>
        </a></h3>


    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>E Number</th>
            <th>INS Number</th>
            <th>Type</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <!--/*@thymesVar id="data" type="java.util.List<com.allerg.allergsite.entity.Additive>"*/-->

        <tr th:each="additive : ${data}">
            <td th:text="${additive.name}"/>
            <td th:text="${additive.eNumber}"/>
            <td th:text="${additive.insNumber}"/>
            <td th:text="${additive.Type}"/>
            <td th:text="${additive.additionalInfo}"/>

            <td>
                <!--            update-->
                <div class="row">
                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/additives/update}">
                            <input name="id" th:value="${additive.id}" type="hidden"/>
                            <button class="btn btn-info btn-sm mr-1 ml-3" type="submit">Update</button>
                        </form>
                    </div>


                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/additives/delete}">
                            <input name="id" th:value="${additive.id}" type="hidden"/>
                            <button class="btn btn-danger btn-sm mr-1 ml-3"
                                    onclick="if (!(confirm('Are you sure you wish to delete this Additive?'))) return false"
                                    type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>

        </tr>

        </tbody>

    </table>
</div>
</html>