<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="data" type="com.allerg.allergsite.entity.Product"*/-->
<form action="#" method="POST" th:action="@{/products/save}" th:fragment="products-form" th:object="${data}">

    <input th:field="*{id}" type="hidden"/>

    <div class="containe justr ">
        <div class="row justify-content-center mb-2">
            <h2 th:text="*{id} == 0 ? 'Add New Product' : 'Editing ' + *{name}"></h2>
        </div>

        <div class="row justify-content-around">

            <div class=" col-5 mb-3 form-group">
                <label class="form-label" for="name">Product Name</label>
                <input class="form-control" id="name" th:field="*{name}" type="text">
                <div class="alert alert-danger" role="alert" th:errors="*{name}"
                     th:if="${#fields.hasErrors('name')}"></div>
            </div>
            <div class="col-5 mb-3 form-group">
                <label class="form-label" for="barcode">Barcode</label>
                <input class="form-control" id="barcode" th:field="*{barcode}" type="text">
                <div class="alert alert-danger" role="alert" th:errors="*{barcode}"
                     th:if="${#fields.hasErrors('barcode')}"></div>
            </div>

        </div>


        <div class="row justify-content-around">
            <div class="col-5 mb-3 form-group">
                <label class="form-label" for="packageSize">Package Size</label>


                <div class="input-group">

                    <input aria-label="Text input with dropdown button" class="form-control" id="packageSize"
                           th:field="*{packageSize}" type="text">
                    <div class="input-group-append">
                        <select class="custom-select" th:field="*{isLiquid}">
                            <option selected th:if="*{isLiquid == null}" value="null">Measurement Type</option>
                            <option class="dropdown-item" href="#" value="false">g</option>
                            <option class="dropdown-item" href="#" value="true">ml</option>
                        </select>

                    </div>
                    <div class="alert alert-danger" role="alert" th:errors="*{isLiquid}"
                         th:if="${#fields.hasErrors('isLiquid')}"></div>
                </div>
            </div>

            <div class="col-5 form-group">
                <label class="form-label input-l" for="parentCompany">Parent Company</label><br>
                <select class="custom-select" id="parentCompany" th:field="*{company}">
                    <option th:value="null">No Parent Company</option>
                    <option th:each="company : ${companies}" th:text="${company.name}" th:value="${company.id}">
                    </option>
                </select>
            </div>

        </div>

        <div class="row justify-content-around">
            <div class="form-group col-11 ">

                <div class="alert alert-danger" role="alert" th:errors="*{description}"
                     th:if="${#fields.hasErrors('description')}"></div>
                <label for="description">Description</label>
                <textarea class="form-control" id="description" maxlength="300" rows="3"
                          th:field="*{description}"></textarea>

            </div>


        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-10">

                <div th:replace="fragments/entity/ingredients-list.html"></div>
            </div>
        </div>


        <br>

        <div class="row justify-content-center">
            <div class="col-10">
                <div th:replace="fragments/entity/additives-list.html"></div>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-10">
                <div th:replace="fragments/entity/nutritional-form.html"></div>
            </div>
        </div>
        <br/>

        <div class="row">
            <button class="btn btn-primary col-12 btn-lg" type="submit">Save</button>
        </div>


    </div>


</form>
</html>