<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="product" type="com.allerg.allergsite.entity.Product"*/-->

<div class="container" th:fragment="product" th:object="${product}">


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" th:text="${product.name}"></h1>
            <p class="lead" th:text="${product.description}"></p>
        </div>
    </div>


    <section class="row">

        <!--        Information-->
        <div class="col">
            <ul>
                <li th:text="'Package Size: ' + ${product.packageSize} + ${product.isLiquid ? 'ml' : 'g'}"></li>
                <li th:if="${product?.company}" th:text="'Company: ' + ${product?.company?.name}"></li>
            </ul>
        </div>


        <!--        Barcode-->
        <div class="col">
            <svg id="barcode"></svg>
        </div>

    </section>
    <br/>
    <section>
        <h3>Ingredients</h3>
        <hr>
        <ul class="list-group" th:each="ingredient : ${product?.ingredientsList}">
            <li class="list-group-item list-group-item-warning mb-1" th:text="${ingredient.name}"></li>
        </ul>
    </section>
    <br/>
    <section>
        <h3>Additives</h3>
        <hr>
        <ul class="list-group" th:each="additive : ${product?.additivesList}">
            <li class="list-group-item list-group-item-danger mb-1" th:text="${additive.name}"></li>
        </ul>
    </section>
    <br/>

    <section>
        <h3>Nutritional Information</h3>
        <div th:replace="fragments/entity/nutritional-table.html"></div>
    </section>

    <th:block layout:fragment="script">
        <script th:inline="javascript" th:src="@{/js/lib/JsBarcode.all.min.js}"></script>
        <script th:inline="javascript">
            JsBarcode("#barcode", [[${product.barcode}]]);
        </script>
    </th:block>

</div>


</html>