<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="products-table">
    <h3>Products <a class="btn btn-primary btn-sm" href="#" th:href="@{/products/create}">
        <svg class="feather feather-plus" fill="none" height="40" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
            <line x1="12" x2="12" y1="5" y2="19"></line>
            <line x1="5" x2="19" y1="12" y2="12"></line>
        </svg>
    </a></h3>


    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Company</th>
            <th>Package Size</th>
            <th>State</th>
            <th>Barcode</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>


        <!--/*@thymesVar id="product" type="com.allerg.allergsite.entity.Product"*/-->

        <tr th:each="product : ${data}">
            <td th:text="${product.id}"/>
            <td><a href="#" th:href="|@{/products/product/}${product.id}|" th:text="${product.name}"></a></td>
            <td th:text="${product?.description}"/>
            <td th:text="${product?.company?.name}"/>
            <td th:text="${product?.packageSize} + (${product?.isLiquid} ? 'ml' : (${product.isLiquid == null}? '' : 'g')) "/>
            <td th:text="${product?.isLiquid} ? 'liquid' : (${product.isLiquid == null}? '' : 'solid')"/>
            <td th:text="${product?.barcode}"/>


            <td>
                <!--            update-->
                <div class="row">
                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/products/update}">
                            <input name="id" th:value="${product.id}" type="hidden"/>
                            <button class="btn btn-info btn-sm mr-1 ml-3" type="submit">Update</button>
                        </form>
                    </div>

                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/products/delete}">
                            <input name="id" th:value="${product.id}" type="hidden"/>
                            <button class="btn btn-danger btn-sm mr-1 ml-3"
                                    onclick="if (!(confirm('Are you sure you wish to delete this product?'))) return false"
                                    type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>

        </tr>

        </tbody>

    </table>
</div>
</html>