<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row justify-content-between">

    <h4 class="col-4">Additives</h4>
    <button aria-controls="collapseAdditives" aria-expanded="false" class="btn btn-info col-3"
            data-target="#collapseAdditives"
            data-toggle="collapse" type="button">
        Add Additives +
    </button>

</div>
<!--/*@thymesVar id="data" type="com.allerg.allergsite.entity.Product"*/-->
<div th:fragment="ingredients-list" th:object="${data}">


    <div class="collapse" id="collapseAdditives">
        <div class="card card-body">


            <div class="btn-group-toggle container-fluid" data-toggle="buttons">
                <label class="btn btn-outline-info mx-2" th:each="additive : ${additives}">

                    <input name="roles" th:field="*{additivesList}"
                           th:text="${additive.name}"
                           th:value="${additive.id}"
                           type="checkbox"/>
                </label>

            </div>

        </div>
    </div>
    <hr>
    <ul th:each="additive : *{additivesList}">
        <li th:text="${additive?.name}"></li>
    </ul>
    <br>
</div>
</html>