<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row justify-content-between">

    <h4 class="col-4">Ingredients</h4>
    <button aria-controls="collapseIngredients" aria-expanded="false" class="btn btn-primary col-3"
            data-target="#collapseIngredients"
            data-toggle="collapse" type="button">
        Add Ingredients +
    </button>

</div>
<!--/*@thymesVar id="data" type="com.allerg.allergsite.entity.Product"*/-->
<div th:fragment="ingredients-list" th:object="${data}">


    <div class="collapse" id="collapseIngredients">
        <div class="card card-body">


            <div class="btn-group-toggle container-fluid" data-toggle="buttons">
                <label class="btn btn-outline-primary mx-2" th:each="ingredient : ${ingredients}">

                    <input name="roles" th:field="*{ingredientsList}"
                           th:text="${ingredient.name}"
                           th:value="${ingredient.id}"
                           type="checkbox"/>
                </label>

            </div>

        </div>
    </div>


    <hr>
    <ul th:each="ingredient : *{ingredientsList}">
        <li th:text="${ingredient.name}"></li>
    </ul>
    <br>

</div>
</html>