<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<!--/*@thymesVar id="product" type="com.allerg.allergsite.entity.Product"*/-->
<div th:fragment="nutritional-table" th:object="${product.nutritionInfo}">

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th th:text="|Servings Per Package: *{servingsPerPackage}|"></th>
        </tr>
        <tr>
            <th th:text="|Based on Serving Size:  *{servingSize} ${product.isLiquid ? 'ml' : 'g'}|"></th>
            <th>Amount</th>
            <th>Per 100 [[${product.isLiquid ? 'ml' : 'g'}]]</th>
        </tr>

        </thead>
        <tbody>


        <tr>
            <th scope="row">Energy</th>
            <td th:text="|*{energy} kJ|"></td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.energy,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>

        <tr>
            <th scope="row">Protein</th>
            <td th:text="|*{protein} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.protein,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>

        </tr>

        <tr>
            <th scope="row">Saturated Fat</th>
            <td th:text="|*{saturatedFat} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.saturatedFat,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>

        <tr>
            <th scope="row">Unsaturated Fat</th>
            <td th:text="|*{unsaturatedFat} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.unsaturatedFat,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>
        <tr class="table-warning text-right">
            <th scope="row">Total Fat</th>
            <td th:text="|*{unsaturatedFat + saturatedFat} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * (product.nutritionInfo.unsaturatedFat + product.nutritionInfo.saturatedFat),1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>
        <tr>
            <th scope="row">Carbohydrates</th>
            <td th:text="|*{carbohydrates} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.carbohydrates,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>
        <tr>
            <th scope="row">Sugar</th>
            <td th:text="|*{sugar} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.sugar,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>
        <tr>
            <th scope="row">Fibre</th>
            <td th:text="|*{fibre} ${product.isLiquid ? 'ml' : 'g'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.fibre,1)} +  ${product.isLiquid ? 'ml' : 'g'}"></td>
        </tr>
        <tr>
            <th scope="row">Sodium</th>
            <td th:text="|*{sodium} ${product.isLiquid ? 'ml' : 'mg'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.sodium,1)} +  ${product.isLiquid ? 'ml' : 'mg'}"></td>
        </tr>
        <tr>
            <th scope="row">Potassium</th>
            <td th:text="|*{potassium} ${product.isLiquid ? 'ml' : 'mg'}|">
            </td>
            <td th:text="${#numbers.formatInteger((100.0 / product.nutritionInfo.servingSize) * product.nutritionInfo.energy,1)} +  ${product.isLiquid ? 'ml' : 'mg'}"></td>
        </tr>

        </tbody>
    </table>


</div>
</html>