<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="contains a table of all archived products and allergens" name="description">
    <meta content="Robert Dicker" name="author">
    <link href="../../favicon.ico" rel="icon"/>

    <title th:data="${pageTitle}">AllerG</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css/"
            th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>


    <script src="https://www.gstatic.com/charts/loader.js" th:if="${graph}"></script>
    <th:block layout:fragment="script"></th:block>

</head>
</html>