<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="ingredients-table">
    <h3>[[${pageTitle}]] <a class="btn btn-primary btn-sm" href="#" th:href="@{/ingredients/create}">
        <svg class="feather feather-plus" fill="none" height="40" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
            <line x1="12" x2="12" y1="5" y2="19"></line>
            <line x1="5" x2="19" y1="12" y2="12"></line>
        </svg>
    </a></h3>


    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>Descriptions</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>


        <tr th:each="ingredient : ${data}">
            <td th:text="${ingredient.id}"/>
            <td th:text="${ingredient.name}"/>
            <td th:text="${ingredient.additionalDetails}"/>
            <td>
                <!--            update-->
                <div class="row">
                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/ingredients/update}">
                            <input name="id" th:value="${ingredient.id}" type="hidden"/>
                            <button class="btn btn-info btn-sm mr-1 ml-3" type="submit">Update</button>
                        </form>
                    </div>


                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/ingredients/delete}">
                            <input name="id" th:value="${ingredient.id}" type="hidden"/>
                            <button class="btn btn-danger btn-sm mr-1 ml-3"
                                    onclick="if (!(confirm('Are you sure you wish to delete this Ingredient?'))) return false"
                                    type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>

        </tr>

        </tbody>

    </table>
</div>
</html>