<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<!--/*@thymesVar id="data" type="com.allerg.allergsite.entity.Company"*/-->
<form action="#" method="POST" th:action="@{/company/save}" th:fragment="companies-form" th:object="${data}">

    <h2 th:if="*{id}">Update [[*{name}]]</h2>
    <h2 th:if="*{id == null}">Create New Company</h2>
    <input th:field="*{id}" type="hidden"/>


    <div class="mb-3 form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" id="name" th:field="*{name}" type="text"/>
        <div class="alert alert-danger" role="alert" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></div>
    </div>


    <select class="custom-select" th:field="*{parentCompany}">
        <option th:value="null">No Parent Company</option>
        <option th:each="company : ${allcompanies}" th:text="${company.name}" th:value="${company.id}">
        </option>
    </select>

    <div th:include="fragments/entity/company-details.html"></div>
    <div th:include="fragments/entity/address-form.html"></div>


    <button class="btn btn-primary" type="submit">Save</button>


</form>
</html>